@import "./account";
@import "./deleteButton";

.accounts__list {
  list-style: none;
  padding: 0 2.5rem;

  li {
    position: relative;

    padding: 0.3125rem;

    border-bottom: 1px solid $lightModeTextClr;

    transition: all 0.08s ease-in;

    span {
      width: inherit;
      height: inherit;
      padding: inherit;
      margin: inherit;
      border: none;
    }
  }

  li:last-child {
    border-bottom: none;
  }

  li:hover {
    background-color: $avatarHoverClr;

    cursor: pointer;
  }
}
