@import "./account";

.content__container--small {
  width: 400px;
  height: 486px;

  margin: 3.125rem auto;

  border: 2px solid $lightModeBordersClr;
  border-radius: 7px;

  background-color: $lightModeListBackgroundClr;

  box-shadow: 0 10px 20px -6px black;

  .accounts__list {
    list-style: none;
    padding: 0 2.5rem;

    li {
      position: relative;

      padding: 0.3125rem;

      border-bottom: 1px solid $lightModeTextClr;

      transition: all 0.08s ease-in;

      span,
      .delete-acc__button {
        width: 24px;
        height: 24px;

        padding: 0;
        margin: 0;

        border: none;
      }

      .delete-acc__button {
        position: absolute;

        top: 12px;
        right: 12px;

        background-color: transparent;

        transition: 0.1s;
      }

      .delete-acc__button:hover {
        cursor: pointer;
        transform: scale(1.4);
      }
      .delete-acc__button:active {
        transform: scale(1.1);
      }
    }

    li:last-child {
      border-bottom: none;
    }

    li:hover {
      background-color: $avatarHoverClr;

      cursor: pointer;
    }
  }
}
