@import "./user";
@import "./userLobby";

.lobby.admin {
  height: 70vh;

  .close-lobby-btn {
    place-self: start end;
    background-color: transparent;
    border: none;
    transition: 0.1s ease-in-out;
    cursor: pointer;

    span {
      font-size: 2rem;
    }
  }

  .close-lobby-btn:hover {
    transform: scale(1.25);
  }

  .admin-buttons {
    @include flex(center, center);
  }

  .submit-btn.start-game::after {
    content: "\27A4";
    font-size: 1.5rem;
  }
}
