@import "./user";
@import "./userLobby";

.content__container--large.admin__lobby {
  height: 70vh;
  position: relative;

  .lobby__close-button {
    place-self: start end;
    background-color: transparent;
    border: none;
    transition: 0.1s ease-in-out;
    cursor: pointer;

    span {
      font-size: 2rem;
    }
  }

  .lobby__close-button:hover {
    transform: scale(1.25);
  }

  .lobby__admin-buttons {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    @include flex(center, center);
    padding: 1em;
  }

  .submit__button.start-game__button::after {
    content: "\27A4";
    font-size: 1.5rem;
  }
}
