.avatar {
  border-radius: 50%;
  vertical-align: middle;
}

.avatar--medium {
  width: 60px;
  height: 60px;
}

.avatar--large {
  width: 70px;
  height: 70px;
}

.create-acc__avatar,
.player__avatar {
  width: 170px;
  height: 170px;

  border-radius: 50%;

  background-color: white;
  border: 2px solid $lightModeBordersClr;

  overflow: visible;
  vertical-align: middle;
}
