.lobby-chosing__section {
  @include flex(space-between, center);
  flex-direction: column;
  gap: 20px;

  h2 {
    font-size: 2em;
    margin: 0;
  }

  img {
    margin-bottom: 0.75rem;
  }
}

.join-lobby__button::after,
.lobby-code__submit-button::after {
  content: "\27A4";
  font-size: 1.5rem;
}

.create-lobby__button::after {
  content: "\002B";
  font-weight: 600;
  font-size: 2rem;
}

.lobby-code__container {
  position: relative;

  width: 40%;

  border: 2px solid $lightModeBordersClr;
  box-shadow: 0px 5px 10px -2px $lightModeBordersClr;
}

.lobby-code__input {
  width: 100%;

  padding: 0.25em 0.5em;
  font-size: 1.5rem;

  border: none;
}

.lobby-code__submit-button {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  aspect-ratio: 1;

  background-color: #199964;

  border: none;
  cursor: pointer;
}

.lobby-code__submit-button:hover {
  background-color: #3dbb87;
}

.disabled {
  display: none;
}

.enabled {
  display: auto;
}
