@import "./slider";
@import "./variables";

.dark-mode__paragraph {
  font-size: 1.25rem;
  font-weight: 600;
}

// Dark mode switch

.dark-mode__container {
  @include flex(flex-end, flex-start);
  grid-column-start: 5;
  margin: 2em;

  p {
    margin: 0;
  }

  input[type="checkbox"] {
    height: 0;
    width: 0;
    visibility: hidden;
  }

  label {
    cursor: pointer;
    position: relative;
    display: block;

    background: grey;

    width: 40px;
    height: 20px;

    text-indent: -9999px;
    border-radius: 100px;
  }

  label:after {
    content: "";
    position: absolute;
    top: 3px;
    left: 4px;

    background-color: #fff;

    width: 14px;
    height: 14px;

    border-radius: 90px;
    transition: 0.3s;
  }

  input:checked + label {
    background: $darkModeSwitchCheckedClr;
  }

  input:checked + label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
  }

  label:active:after {
    width: 24px;
  }
}
