.dark-body {
  background-color: $darkModeBackgroundClr;

  header,
  footer,
  .return__button {
    color: $darkModeTextClr;
  }

  input {
    color: $darkModeTextClr;
  }

  h1 {
    text-shadow: 1px 0px 1px $lightModeLogoShadow1,
      0px 1px 1px $lightModeLogoShadow2, 2px 1px 1px $lightModeLogoShadow1,
      1px 2px 1px $lightModeLogoShadow2, 3px 2px 1px $lightModeLogoShadow1,
      2px 3px 1px $lightModeLogoShadow2, 4px 3px 1px $lightModeLogoShadow1,
      3px 4px 1px $lightModeLogoShadow2, 5px 4px 1px $lightModeLogoShadow1,
      4px 5px 1px $lightModeLogoShadow2, 6px 5px 1px $lightModeLogoShadow1,
      5px 6px 1px $lightModeLogoShadow2, 7px 6px 1px $lightModeLogoShadow1;
  }

  .content__container--small {
    .accounts__list {
      li {
        border-bottom-color: $darkModeBorderClr;

        p,
        span {
          color: $darkModeTextClr;
        }

        .new-acc__icon {
          filter: invert(100%);
        }
      }

      li:hover {
        background-color: $darkModeHoverClr;
      }
    }
  }

  footer {
    border-top-color: $darkModeBorderClr;

    .github__logo {
      filter: invert(100%);
    }
  }

  .lobby-chosing__section,
  .create-acc__container {
    h2 {
      color: $darkModeTextClr;
    }

    .create-acc__avatar,
    .player__avatar {
      border-color: $darkModeBorderClr;
      background-color: $darkModeAvatarBackgroundClr;
    }
  }

  .lobby-code__container,
  .create-acc__nickname-input {
    border-color: $darkInputBorderClr;
  }

  .lobby-code__input,
  .create-acc__nickname-input {
    background-color: $darkModeInputBackgroundClr;
  }

  .lobby-code__input::placeholder,
  .create-acc__nickname-input::placeholder {
    color: $darkModePlaceHolderClr;
  }

  .content__container--small,
  .content__container--large {
    border-color: $darkInputBorderClr;
    background-color: $darkModeListBackgroundClr;
  }

  .content__container--large {
    .lobby__header,
    .lobby__close-button {
      color: $darkModeTextClr;
    }

    .lobby__header {
      border-bottom-color: $darkModeBorderClr;
    }

    .lobby__user-list-container {
      ul {
        li {
          background-color: $darkModeListBackgroundClr;
          color: $darkModeTextClr;
        }
      }
    }
  }
}
