footer {
  @include flex(space-around, center);

  position: fixed;
  bottom: 0;
  left: 300px;
  right: 300px;

  padding: 15px 0;
  border-top: 1px solid black;

  .footer-container {
    a {
      display: flex;
      align-items: center;
      gap: 15px;

      font-size: 1.25rem;
      font-weight: 600;

      text-decoration: none;
      color: inherit;

      transition: all 0.2s ease-in;

      .github-logo {
        width: 40px;
        height: 40px;
      }
    }

    a:hover {
      color: $linkHoverClr;
    }
  }
}
