@import "./mixins";
@import "./variables";

header {
  display: grid;
  grid-template-columns: 1fr repeat(3, auto) 1fr;
  grid-column-gap: 5px;

  padding: 0 25px;

  .logo-container {
    @include flex(space-between, center);
    grid-column-start: 2;
    gap: 15px;
  }

  h1 {
    color: #2e2e2e;
    font-size: 3rem;
    text-shadow: 1px 0px 1px #ccc, 0px 1px 1px #eee, 2px 1px 1px #ccc,
      1px 2px 1px #eee, 3px 2px 1px #ccc, 2px 3px 1px #eee, 4px 3px 1px #ccc,
      3px 4px 1px #eee, 5px 4px 1px #ccc, 4px 5px 1px #eee, 6px 5px 1px #ccc,
      5px 6px 1px #eee, 7px 6px 1px #ccc;
  }

  .material-symbols-outlined {
    font-size: 36px;

    background-image: $logoClr;
    background-clip: text;
    color: transparent;
  }
}
