.scoreboard__player {
  display: flex;
  align-items: center;
  gap: 1em;
  width: 80%;
  color: $lightModeTextClr;
  padding: 0.5em 1em;
  margin: 0.75em auto;
  border-bottom: 1px solid $lightModeBordersClr;
  font-weight: 600;
}

.highlight--admin {
  color: #3dbb87;
}

.scoreboard__position {
  margin-bottom: 0;
}
