@import "./user";

.lobby.users {
  height: 65vh;

  .close-lobby-btn,
  .start-game {
    display: none;
  }
}

.lobby {
  border: 2px solid black;
  width: 70vw;
  margin: 0 auto;

  border: 2px solid $lightModeBordersClr;
  border-radius: 0.5em;

  background-color: $lightModeListBackgroundClr;

  box-shadow: 0 10px 20px -6px black;

  .lobby-header {
    display: grid;
    padding: 0.5em;
    grid-template-columns: 1fr 1fr 1fr;
    border-bottom: 1px solid black;

    h2 {
      font-size: 2.5rem;
      margin: auto;
    }
    button {
      place-self: start;
    }
  }

  .lobby-users-container {
    ul {
      padding: 0 1em;
      display: grid;
      grid-template-columns: repeat(4, 1fr);

      li {
        margin: 0.5em 0.5em;
        padding: 1.5em 0.5em;
        border: 2px dashed #3dbb87;
        border-radius: 0.5em;
        box-shadow: 0 0 10px -4px #3dbb87;
        background-color: rgb(238, 235, 235);
        p {
          font-size: 1.5rem;
          margin-bottom: 0;
        }
      }
    }
  }
}
