$darkModeSwitchCheckedClr: linear-gradient(to right, #11998e, #38ef7d);
$logoClr: linear-gradient(to right, #11998e, #38ef7d);

$darkModeTextClr: #e0e0e0;
$darkModeListBackgroundClr: #313131;
$darkModeBackground: #1b1b1b;
$darkAccountsBorderClr: #4d4d4d;

$lightModeTextClr: #000000;
$lightModeListBackgroundClr: #e9e9e9;
$lightModeBackground: #e0e0e0;
$lightAccountsBorderClr: #666666;
$lightModeBordersClr: #000000;

$avatarHoverClr: #3dbb87;
$linkHoverClr: #199964;
$returnBtnHoverClr: #199964;
