@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@700&family=Sofia+Sans&family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0");

@import "./header";
@import "./darkmode";
@import "./accountList";
@import "./footer";
@import "./createAccount";
@import "./chooseLobby";

*,
*::after,
*::before {
  box-sizing: border-box;
  user-select: none;
}

img {
  pointer-events: none;
}

html,
body,
form {
  font-family: "Sofia Sans", sans-serif;
}

input,
button,
select,
textarea,
option {
  font-family: inherit;
}

body {
  height: 100vh;
  margin: 0 auto;
}
